/* Tipografías */
@font-face {
    font-family: "Manrope-Bold";
    src: url("../fonts/Manrope-Bold.ttf");
}
@font-face {
    font-family: "Manrope-Light";
    src: url("../fonts/Manrope-Light.ttf");
}
@font-face {
    font-family: "Manrope-Regular";
    src: url("../fonts/Manrope-Regular.ttf");
}

/* General */
/* Reseteo de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    margin-bottom: 0px;
    padding-left: 0px;
}
li {
    list-style: none;
}
/* Cambio de color de selección de texto*/
::selection {
    background-color:#c3ced9;
    color:#000;
    text-shadow:none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Manrope-Regular";
}

/* Main */
main {
    height: 100vh;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Header */
header {
    background-color: rgb(46, 46, 46);
    padding: 20px 64px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo img {
    width: 120px;
}
.navbar .carrito img {
    width: 22px; 
}
.carrito {
    position: relative;
    display: flex;
    align-items: center;
}
.carrito img {
    width: 22px;
}
#contador-carrito {
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: #2196f3;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
footer {
    background-color: #2196f3;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}